/* .my-row{
    border: 1px solid red;
    
}

.my-col-chart{
    height: 200px;
}

.my-col-row{
    height: 200px;
}

.my-col-map{
    border: 1px solid green;
    height: 200px;
}

.my-col{
    border: 1px solid green;
    height: 100px;
}

.second-row{
    height: 200px;
} */